.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(250, 240, 240);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img {
  border-radius: 50%;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img:hover {
  transform: scale(1.5);
}

.thumbnail {
  border-radius: 50%;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button_search {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  font-family: "Helvetica Neue", sans-serif; /* Use a font similar to the Marvel logo */
  font-size: 10px;
  color: #ed1d24; /* Red color used in the Marvel logo */
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #fff; /* White background */
  border: 2px solid #ed1d24; /* Red border */
  border-radius: 70px;
  padding: 10px 20px;
  margin: 5px;
}

.button_search:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.search-bar {
  width: 75%;
  border: 4px solid rgb(204, 0, 0);
  padding: 5px;
  height: 30px;
  outline: none;
  border-radius: 5px 5px 5px 5px;
  color: #ff0000;
  margin: 5px;

  .input {
    width: 100%;
  }
}

.search-bar:hover {
  background-color: red;
  color: white;
}

.welcome {
  color: rgb(255, 255, 255);
  margin: 5px;
}

body {
  background-image: url("https://t4.ftcdn.net/jpg/01/94/35/19/360_F_194351905_FlzhKrXQkZdLBaq1wZmssTSILprWRghW.jpg");
  color: rgb(255, 255, 255) !important;
  background-size: cover;
}

.linkage {
  color: white;
  margin-top: 10px;
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.linkage-2 {
  color: white;
  margin-top: 10px;
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img_comic {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 1px solid red;
}

.favorite {
  border: none;
  background-color: transparent;
  height: 20px;
  width: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.favorite:hover {
  transform: scale(1.5);
}

.cart {
  border: none;
  background-color: transparent !important;
  height: 60px;
  width: 60px;
}

.cart:hover {
  transform: scale(1.2);
}

.cart-button {
  height: 60px;
  width: 60px;
}

.purchase {
  border: none;
  background-color: transparent !important;
  width: 30px;
  height: 30px;
}

.purchase:hover {
  transform: scale(1.5);
}

.purchase-button {
  height: 70px;
  width: 100px;
}

.button {
  height: 30px;
  width: 30px;
}

.logout-button {
  height: 40px;
  width: 40px;
}

.delete {
  border: none;
  background-color: transparent;
  height: 20px;
  width: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.delete:hover {
  transform: scale(1.5);
}

.logout {
  border: none;
  background-color: transparent !important;
  height: 50px;
  width: 50px;
  display: block;
  margin-right: auto;
}

.logout:hover {
  transform: scale(1.5);
}

.headline {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}

.feature {
  margin-top: 20px;
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description {
  margin-top: 10px;
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.move_over {
  padding-right: 40px;
}

.credits {
  margin-top: 10px;
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.pool-logo {
  width: 75px;
  height: px;
}

.pool-logo:hover {
  transform: rotate(-30deg) scale(1.4);
}

.favorites {
    margin: 20px
}
