.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.home_img {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img {
    border-radius: 50%;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button_search {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    font-family: 'Helvetica Neue', sans-serif; /* Use a font similar to the Marvel logo */
    font-size: 10px;
    color: #ed1d24; /* Red color used in the Marvel logo */
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #fff; /* White background */
    border: 2px solid #ed1d24; /* Red border */
    border-radius: 70px;
    padding: 10px 20px;
    margin: 5px;
  }

  .button_search:hover {
    background-color: red;
    color: white;
    cursor: pointer;
  }

.search-bar {
    width: 75%;
    border: 3px solid rgb(204, 0, 0);
    padding: 5px;
    height: 20px;
    outline: none;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    margin: 5px;

    .input{
      width: 100%;
      
    }
  }

  .search-bar:hover {
    background-color: red;
    color: white;

  }

  .welcome {
    color: rgb(255, 255, 255)
  }

  body {
    background-image: url("https://t4.ftcdn.net/jpg/01/94/35/19/360_F_194351905_FlzhKrXQkZdLBaq1wZmssTSILprWRghW.jpg");
    color: white;
  }

  .linkage {
    color: white;
  }
  